/ArmorBoost.class
/AttackBoost.class
/Battle.class
/Berserk.class
/Command.class
/DefensiveTyrantStrategy.class
/Duel.class
/Leech.class
/SimpleTyrantStrategy.class
/StrikeBoost.class
/TyrantMove.class
/TyrantPlayer.class
/TyrantUnleashed.class
/Weaken.class
/doMoveCommand.class
